<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
<head>
	<title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
	<link rel="canonical" href="{{ .Site.BaseURL }}">
	<link rel='alternate' type='application/rss+xml' title="{{ .Site.Title }} RSS" href='/index.xml'>
	<link rel='stylesheet' type='text/css' href='/style.css'>
	{{ with .Site.Params.favicon }}<link rel="icon" href="{{ . }}">
	{{ end -}}
	<meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}">
	{{ if isset .Params "tags" }}<meta name="keywords" content="{{ with .Params.tags }}{{ delimit . ", " }}{{ end }}">
	{{ end -}}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index, follow">
	<meta charset="utf-8">
</head>
<body>
{{ if .Site.Menus.main }}{{ partial "nav.html" . }}{{ end -}}
<main>
<a href="{{ .Site.Home.RelPermalink }}"><header>
	<h1 id="tag_{{ .Title }}">{{ block "title" . }}{{ end }}</h1>
	{{- with .Param "subtitle" }}
	<h2>{{ . }}</h2>
	{{- end }}
</header></a>
<article>
{{ block "main" . -}}
{{- .Content -}}
{{ end -}}
{{ if .Param "taglist" }}{{ partial "taglist.html" . }}{{ end -}}
{{ if .Param "nextprev" }}{{ partial "nextprev.html" . -}}{{ end -}}
</article>
</main>
{{ block "footer" . -}}
<footer>
	<hr>
	<a href="{{ .Site.BaseURL }}"><img src="/pix/marbsbetter.gif" title="MARBS: Because n00buntu is bloated and windows is rubbish." ></a>
	<br>
	<em>MARBS is based on Luke Smith's LARBS and some copywriting present here was also written by him.</em>
		Check out LARBS at: <a href="https://larbs.xyz/" style="overflow-wrap:break-word">https://larbs.xyz</a>
	{{- if .Param "showrss" }}<br><br><a href="/index.xml"><img src="/rss.svg" style="max-height:1.5em" alt="RSS Feed" title="Subscribe via RSS for updates."></a><a href="https://github.com/Kuchteq/MARBS"><img src="/ghub.svg" style="margin-left:1rem; max-height:1.5em" alt="Project Github" title="Commit to Github"></a>
        {{ end }}

</footer>
{{ end -}}
</body>
</html>
